<div class="blocks-section is-dark has-s s-5187255-11">
    <div>
        <div class="page-container">
            <div class="section-main">
                <div>
                    <div>
                        <div class="block-item block-text is-textable is-headline">
                            <div class="b-72fd81555ef111ed94baac1f6bd74bd8"><h2 class="block-text has-rtl is-heading"
                                                                                block_id="72fd81555ef111ed94baac1f6bd74bd8"
                                                                                block="[object Object]"
                                                                                account="[object Object]" index="0"
                                                                                page_id="5187255"
                                                                                style="text-align: center; line-height: var(--theme-text-lineheight-h2); font-size: var(--theme-text-size-h2); letter-spacing: var(--theme-text-letterspacing-h2); color: rgb(9, 146, 104) !important; --theme-heading-font-family:&quot;Montserrat&quot;,sans-serif; --theme-heading-font-weight:400; --theme-heading-font-weight-bold:700;">
                                <font color="#0ca678" style="">Отзывы покупателей</font></h2></div>
                        </div>
                        <div class="block-item block-pictures block-item-locked"
                             style="transform: translate(0px, 0px);">
                            <div class="b-71036928">
                                <div class="block-slider has-rtl is-dark" section="[object Object]" block_id="71036928"
                                     account="[object Object]" index="1">
                                    <div class="block-slider-inner">
                                        <div class="slider slider-pictures has-mb-2 slider-has-border">
                                            <div class="slider-inner">
                                                <div class="slider-slide active">
                                                    <div class="picture-container lazy is-loaded"
                                                         style="padding-top: 141.452%; background-image: url(&quot;//taplink.st/p/d/c/2/3/49754127.jpg?0&quot;);">
                                                        <!----></div>
                                                    <div class="slider-slide-text">
                                                        <div class="slider-slide-title">Заголовок</div> <!----></div>
                                                    <a rel="noopener" target="_top" href="" class="slider-slide-link">Открыть</a>
                                                </div>
                                                <div class="slider-slide">
                                                    <div class="picture-container lazy is-loaded"
                                                         style="padding-top: 141.452%; background-image: url(&quot;//taplink.st/p/c/b/5/b/49754130.jpg?0&quot;);">
                                                        <!----></div>
                                                    <div class="slider-slide-text">
                                                        <div class="slider-slide-title">Заголовок</div> <!----></div>
                                                    <a rel="noopener" target="_top"
                                                       class="slider-slide-link">Открыть</a></div>
                                                <div class="slider-slide">
                                                    <div class="picture-container lazy is-loaded"
                                                         style="padding-top: 141.452%; background-image: url(&quot;//taplink.st/p/f/e/c/6/49754133.jpg?0&quot;);">
                                                        <!----></div>
                                                    <div class="slider-slide-text">
                                                        <div class="slider-slide-title">Заголовок</div> <!----></div>
                                                    <a rel="noopener" target="_top"
                                                       class="slider-slide-link">Открыть</a></div>
                                                <div class="slider-slide">
                                                    <div data-src="//taplink.st/p/3/9/0/d/49754145.jpg?0"
                                                         class="picture-container lazy" style="padding-top: 141.452%;">
                                                        <!----></div>
                                                    <div class="slider-slide-text">
                                                        <div class="slider-slide-title">Заголовок</div> <!----></div>
                                                    <a rel="noopener" target="_top"
                                                       class="slider-slide-link">Открыть</a></div>
                                                <div class="slider-slide">
                                                    <div data-src="//taplink.st/p/0/9/3/4/49754148.jpg?0"
                                                         class="picture-container lazy" style="padding-top: 141.452%;">
                                                        <!----></div>
                                                    <div class="slider-slide-text">
                                                        <div class="slider-slide-title">Заголовок</div> <!----></div>
                                                    <a rel="noopener" target="_top"
                                                       class="slider-slide-link">Открыть</a></div>
                                                <div class="slider-slide">
                                                    <div data-src="//taplink.st/p/a/b/c/0/49754154.jpg?0"
                                                         class="picture-container lazy" style="padding-top: 141.452%;">
                                                        <!----></div>
                                                    <div class="slider-slide-text">
                                                        <div class="slider-slide-title">Заголовок</div> <!----></div>
                                                    <a rel="noopener" target="_top"
                                                       class="slider-slide-link">Открыть</a></div>
                                            </div>
                                            <div class="slider-nav">
                                                <div class="slider-dot active"></div>
                                                <div class="slider-dot"></div>
                                                <div class="slider-dot"></div>
                                                <div class="slider-dot"></div>
                                                <div class="slider-dot"></div>
                                                <div class="slider-dot"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!----></div>
                </div>
            </div>
        </div>
    </div>
</div>